# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
<IfModule mod_headers.c>
    RequestHeader unset Proxy
</IfModule>

## Bloqueia alguns arquivos por segurança
<FilesMatch "^\.env.*">
    Require all denied
</FilesMatch>

<FilesMatch "^\.git*">
    Require all denied
</FilesMatch>

# Bloqueia o acesso a qualquer arquivo *.php, exceto o index.php
<FilesMatch "^(?!index\.php$).*\.php$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^(\.well-known/.*)$ $1 [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
